<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1116" Action="Hidden" />
    <Rule Id="SA1201" Action="Hidden" />
    <Rule Id="SA1503" Action="Hidden" />
    <Rule Id="SA1122" Action="Hidden" />
    <Rule Id="SA1633" Action="Hidden" />
    <Rule Id="SA1304" Action="Hidden" />
    <Rule Id="SA1652" Action="Hidden" />
    <Rule Id="SA1516" Action="Hidden" />
  </Rules>
</RuleSet>